.hello{
    background-color: #a200ff;
}
.cardChart{
    width: 100%;
    height: 100px;
}
.card-salary{
    width: 100%;
}

.wraper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 4px;
}